<div class="container mx-auto px-4 py-10">
  <h1 class="text-4xl font-bold mb-6 text-center">ようこそ、Bar-Buddyへ！</h1>
  <p class="text-center text-lg mb-8">
    Bar-Buddyは、カクテルの世界を探索し、新しいアレンジを楽しむためのアプリです。
    お気に入りのカクテルを探したり、自分だけのカクテルを投稿してみましょう！
  </p>

  <div class="flex justify-center">
    <a href="<%= cocktails_path %>" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      カクテル一覧を見る
    </a>
  </div>
</div>