<footer class="bg-blue-600 text-white py-4">
  <div class="container mx-auto text-center">
    <ul class="flex justify-center space-x-6">
      <li><a href="/privacy_policy" class="hover:underline">プライバシーポリシー</a></li>
      <li><a href="/terms_of_service" class="hover:underline">ご利用規約</a></li>
    </ul>
  </div>
</footer>
