<header class="bg-black text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-2xl font-bold">Bar-Buddy</a>
    <nav>
      <ul class="flex space-x-4">
        <li><a href="/how_to_use" class="hover:underline">アプリの使い方</a></li>
      </ul>
    </nav>
  </div>
</header>
